<!DOCTYPE html>
<html>
  <head>
    <title>Lockup Diary</title>
    <link rel="stylesheet" href="/vendor/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/vendor/gh-history.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/vendor/moment.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-datetimepicker.min.js"></script>
  </head>
  <body>
    <!-- Lockup Modal -->
    <div class="modal fade" id="lockupModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Start lockup</h4>
          </div>
          <div class="modal-body">
            Placeholder
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Start lockup</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Orgasm Modal -->
    <div class="modal fade" id="orgasmModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/events" id="orgasmForm" method="POST" role="form">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Record orgasm</h4>
            </div>
            <div class="modal-body">
              <input type="hidden" name="type" value="orgasm">
              <input type="hidden" id="realDate" name="orgasmDatetime">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="orgasmDate">Date</label>
                  <div class='input-group date' id='orgasmDate'>
                    <input type='text' class='form-control'>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <script type="text/javascript">
                    $(function () {
                        $("#orgasmDate").datetimepicker({
                          pickTime: false
                        });
                        $("#orgasmForm").submit(function(e) {
                          var date = $("#orgasmDate").data("DateTimePicker").getDate().toISOString().split("T")[0]
                          date += "T"
                          date += $("#orgasmTime").data("DateTimePicker").getDate().toISOString().split("T")[1]
                          $("#realDate").val(date);
                        });
                        setTimeout(function() {
                          $("#orgasmDate").data("DateTimePicker").setDate(moment());
                        }, 0);
                    });
                  </script>
                </div>
                <div class="form-group col-md-6">
                  <label for="orgasmTime">Time</label>
                  <div class='input-group date' id='orgasmTime'>
                    <input type='text' class='form-control'>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
                  <script type="text/javascript">
                    $(function () {
                        $('#orgasmTime').datetimepicker({
                          pickDate: false
                        });
                    });
                    setTimeout(function() {
                      $("#orgasmTime").data("DateTimePicker").setDate(moment());
                    }, 0);
                  </script>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="orgasmNotes">Notes</label>
                  <textarea id="orgasmNotes" name="orgasmNotes" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Record orgasm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Lockup Diary</h1>
      <p><%= message %></p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#lockupModal">
        Start lockup
      </button>
      <button class="btn btn-default" data-toggle="modal" data-target="#orgasmModal">
        Record orgasm
      </button>
      <a href="logout">Log out</a>
      <h2>Recent events</h2>
      <ul>
        <% events.each(function(event) { %>
          <li><%= JSON.stringify(event) %></li>
        <% }) %>
      </ul>
    </div>
    
    <div class="discussion-item discussion-item-assigned">
  <div class="discussion-item-header" id="event-145938144">

    <span class="octicon octicon-person discussion-item-icon"></span>
    <img alt="Person Person" class="avatar" data-user="123456" height="16" src="https://avatars2.githubusercontent.com/u/123456?v=2&s=32" width="16">
    <a href="/asdf" class="author">asdf</a>
    was assigned  by <a href="/asdf"><span class="discussion-item-entity">asdf</span></a> <a href="https://github.com/asdf" class="timestamp"><time class="timestamp" datetime="2014-07-26T11:31:34-07:00" is="relative-time" title="Jul 26, 2014 2:31 PM EDT">29 days ago</time></a>
  </div>
</div>

  </body>
</html>
