<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <title>Sign in - Lockup Diary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <% include ga.ejs %>
  </head>

  <body style="padding-top:60px;">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Lockup Diary</a>
        </div>
      </div>
    </div>

    <div class="container">
      <% if (message) { %>
      <div class="alert alert-success" style="max-width:400px; margin:auto; margin-bottom:20px;">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Success!</strong> <%= message %>
      </div>
      <% } %>
      <% if (error) { %>
      <div class="alert alert-danger" style="max-width:400px; margin:auto; margin-bottom:20px;">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> <%= error %>.
      </div>
      <% } %>
      <div class="bs-component" style="max-width:400px; margin:auto;">
        <form action="/login" method="POST" class="form-horizontal">
          <fieldset>
            <legend>Sign in</legend>
            <div class="form-group">
              <label for="username" class="col-lg-2 control-label">Username</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary track" id="sign-in">Sign in</button>
              </div>
            </div>
            <div class="form-group col-lg-12">
              <a href="/forgot_password" id="forgot-password" class="track">Forgot username or password</a>
            </div>
            <div class="form-group col-lg-12">
              Not yet registered? <a href="/signup" id="sign-up" class="track">Sign up</a>.
            </div>
            <div class="form-group col-lg-12">
              Test element <a id="test" class="track">Click me</a>.
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>