<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password changed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <% include ga.ejs %>
  </head>

  <body style="padding-top:60px;">

    <% include simple_header.ejs %>

    <div class="container">
      <div>Password changed successfully.</div>
      <div><a href="/login" id="password-reset-log-in" class="track">Log in</a></div>
    </div>
  </body>
</html>