<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password changed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body style="padding-top:60px;">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Lockup Diary</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div>Password changed successfully.</div>
      <div><a href="/login">Log in</dif>
    </div>
  </body>
</html>