<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" id="header-logo" class="navbar-brand track">Lockup Diary</a>
    </div>
  </div>
</div>