@media (max-width: 768px) {
  #user-header {
    text-align: center;
  }

  #stats {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .profile-picture {
    float: left;
    margin-right: 15px;
  }
}

#error {
  color: red;
}

input {
  max-width: 400px;
}

.statistic {
  font-size: 48pt;
  margin-bottom: -10px;
}

.statistic-title {
  font-size: 12pt;
  padding-bottom: 10px;
}

.lockup-list {
  -webkit-padding-start: 25px;
}

.event {
  font-size: 14pt;
  font-weight: bold;
}

#full-diary-link {
  position: absolute;
  right: 18px;
  bottom: 14px;
}

.inline-nav-link {
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
}