.statistic {
  font-size: 48pt;
  margin-bottom: -10px;
}

.statistic-title {
  font-size: 12pt;
  padding-bottom: 10px;
}

.lockup-list {
  -webkit-padding-start: 25px;
}

.event {
  font-size: 14pt;
  font-weight: bold;
}